<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Avalonia Nightly" value="https://nuget-feed-nightly.avaloniaui.net/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="Avalonia Nightly">
            <package pattern="Avalonia.Nightly.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
